* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.logo {
  width: 200px; }

.miGrilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 80vh 20vh;
  grid-template-areas: "header"  "main" "footer"; }

.mainIndex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.sectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  height: 50vh;
  width: 300px;
  margin: 3rem; }

.sectionCopy {
  width: 450px;
  margin: 3rem; }

.header {
  grid-template-areas: header;
  background-color: #3cff00; }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem; }
    .header .nav .logoLink {
      display: inline-block;
      width: 200px; }
    .header .nav .menu {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 1rem;
      padding: 1rem; }
      .header .nav .menu .linkMenu {
        margin: 5px;
        text-decoration: none; }

.footer {
  grid-area: footer;
  background-color: #3cff00; }
