*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 210px;
}

.miGrilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 80vh 20vh;
    grid-template-areas: 
    "header" 
    "main"
    "footer"
}


// secciones
@import "./secciones/header";
@import "./secciones/principal";
@import "./secciones/footer";

// variables
@import "./variables/colors";

