
// variables
@import "./variables/colors";
@import "./variables/fonts";
@import "./variables/mixin";
@import "./variables/maps";


// secciones 

// index
@import "./secciones/mainPage";
@import "./secciones/header";
@import "./secciones/footer";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font1;
}

.logo {
    width: 200px;
}

.miGrilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "header" 
    "main"
    "footer"
}




