.header {
    grid-template-areas: header;
    background-color: $green;
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem;    
        
        .logoLink {
            display: inline-block;
            width: 200px;
        }
        

        .menu {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 1rem;
            padding: 1rem;

            .linkMenu {
                margin: 5px;
                text-decoration: none;
            }

            
        }
        
    }

}


