
.header {
    background-color: $azul;
    grid-area: header;

    .nav {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        
    }
    }