.header {
    grid-template-areas: "header";
    background-color: $color1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin: 1.5rem;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem;    
        
        

        .menu {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 1rem;
            padding: 1rem;

            @media (max-width:742px){
                flex-direction: column;
            }

            .linkMenu {
                margin: 5px;
                text-decoration: none;

                .linkMenu:hover {
                    color: $color2;
                    font-size: 18px;
                }
            }

            
        }
        
    }

}


