
.mainIndex {

    color: $color1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    grid-template-areas: "main";
    background-image: url("https://images.unsplash.com/photo-1607457597191-8ed4e870ceca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;

}



.sectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: $color5;
    color: white;
    height: 400px;
    width: 300px;
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 5%;

    .textField {
      display: flex;
      flex-direction: column;
      align-items: center;

      .botonForm {
        width: 100px;
        height: 30px;
        margin-top: 1rem;
        text-align: center;
        background-color: $color5;
        color: rgb(0, 255, 191);
        border-radius: 9px;
        border: 2px solid rgb(0, 255, 191);
        letter-spacing: 2px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        outline: none;
      }
      .botonForm:hover {
        background-color: rgb(0, 255, 191);
        color: $color5;        
      }

      .emailForm {
        background-color: white;
        width: 250px;
        height: 30px;
        padding: 1rem;
        margin: 1rem;
        border-radius: 9px;
        border: none;
        
      }
      



      }

}

.sectionCopy {
    width: 100%;
    max-width: 600px;
    margin: 1rem;
    display: flex;
    flex-direction: column;




    @media (max-width: 941px) {
      text-align: center;
    }
    .texto1 {
      font-size: 40px;
      margin-bottom: 1rem;

    }
}






// Exhibitions




.tituloExhibition {
  text-align: center;
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: $color3;
  color: $color1;
  width: 100%;
  font-size: 20px;
}

  img {
    width: 100%; 
    height: auto;
  }

  video {
      width: 100%;
      height: auto;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
    
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
    max-height: 50vh;
    margin: 0.5rem;
    img {
      filter: blur(0px);
      transition: filter 0.3s ease-in;
      transform: scale(1.1);
    }
    
  }

  @media (max-width:934px) {
    .location-image {
      max-height: 70vh;
    }
  }
  @media (max-width:612px) {
    .location-image {
      max-height: 100vh;
    }
  }
  
  
  .location-title {

    @include imgExhibition ($color6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }

  // Live Auction


  .botonSubasta {

    width: 150px;
    height: 30px;
    margin-top: 1rem;
    text-align: center;
    background-color: $color5;
    color: rgb(0, 255, 191);
    border-radius: 9px;
    border: 2px solid rgb(0, 255, 191);
    letter-spacing: 2px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
  
  }

.carousel {

  width: 100%;




}

  .footerLiveAuctions {
    height: 142.6px;
  }
  
  .textoSubasta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  