
.mainIndex {

    color: $color1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.imgHome {
  position: absolute;
  z-index: -1;
}



.sectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: $color5;
    color: white;
    height: 400px;
    width: 300px;
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 5%;

}

.sectionCopy {
    width: 600px;
    margin: 3rem;




    @media (max-width: 941px) {
      text-align: center;
    }
}




// Exhibitions


.tituloExhibition {
  text-align: center;
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: $color3;
  color: $color1;
  width: 100%;
  font-size: 20px;
}

  img {
    width: 100%; 
    height: auto;
  }

  video {
      width: 100%;
      height: auto;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
    
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
    max-height: 50vh;
    margin: 0.5rem;
    img {
      filter: blur(0px);
      transition: filter 0.3s ease-in;
      transform: scale(1.1);
    }
    
  }

  @media (max-width:934px) {
    .location-image {
      max-height: 70vh;
    }
  }
  @media (max-width:612px) {
    .location-image {
      max-height: 100vh;
    }
  }
  
  
  .location-title {

    @include imgExhibition ($color6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }

  // Live Auction


.carousel {
  margin: 1rem ;
  width: 50%;

}

  .footerLiveAuctions {
    height: 142.6px;
  }
  
  