
.mainIndex {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sectionIzquierda sectionDerecha";
}

.sectionCopy {
    grid-area: sectionDerecha;

}
.sectionForm {
    grid-area: sectionIzquierda;
    display: flex;
    justify-content: center;

}

.formularioInvitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: red;
    color: white;
    height: 500px;
    width: 50%;

}


