
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sectionIzquierda sectionDerecha"
    ;
}

.sectionCopy {
    grid-area: sectionDerecha;

}

.sectionForm {
    grid-area: sectionIzquierda;

}

